<header app-header></header>
<div container>
  <div class="hero-wrapper">
    <div class="left">
      <div class="download-badge">
        <img src="/assets/images/1m-downloads.png" draggable="false" alt="" />
      </div>
      <h1 class="heading">
        Largest Collection of <br />
        Pre-built <span class="yellow">Microservices</span>
      </h1>
      <p>
        Embrace our ready-to-deploy microservices <br />
        on your cloud of choice and shorten time-to-market.
      </p>
      <div class="cta">
        <button header-button class="hero-cta primary">
          <span text>Get Started</span>
          <span icon no-line-height>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              viewBox="0 0 24.21 41.09"
              fill="white"
            >
              <path
                d="M3.67,41.09,0,37.42,16.88,20.54,0,3.67,3.67,0,24.21,20.54Z"
              />
            </svg>
          </span>
        </button>
        <button header-button class="hero-cta secondary">
          <span icon no-line-height>
            <svg
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 29.61 37.76"
              fill="white"
            >
              <path d="M0,37.76V0L29.61,18.88Zm4-7.4L22.13,18.88,4,7.4Z" />
            </svg>
          </span>
          <span text>Watch Video</span>
        </button>
      </div>
    </div>
    <div class="right">
      <video
        src="/assets/videos/sample.webm"
        autoplay
        loop
        playsinline
        muted
        type="video/webm"
      ></video>
    </div>
  </div>
</div>
