:host {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  display: grid;
  align-items: center;
  font-size: 1.15rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  grid-template-columns: auto auto auto;
  gap: 0.35rem;
}

.divider {
  background-color: rgba(255, 255, 255, 0.5);
  height: 85%;
  padding: 0.5px;
  margin-right: 0.15rem;
}
.text {
  opacity: 0.9;
}
