:root {
  --font: "Poppins", Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
  font-family: var(--font);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--font);
}
/* utility */
.ta-c {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
